
:root {
   --white-color: #fff;
   --black-color: #000;
   --text-color: #333;
   /* --primary-color: #f53e2d; */
   --primary-color: #1a94ff;
   --rating-yellow-color: #FECE3E;
}

* {
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   line-height: 1.6rem;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

/* Css RESPONSIVE */
.grid {
   width: 1200px;
   max-width: 100%;
   margin: 0px auto;
}


.grid__row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -5px;
   margin-left: -5px;
}

.grid__full-width {
   width: 100%;
}

.grid__row_1 {
   padding-top: 24px;
}

.grid__column_2 {
   width: calc((100%/12)*2);
   padding-left: 5px;
   padding-right: 5px;
}

.grid_column_2_sub {
   width: 20%;
   padding-left: 5px;
   padding-right: 5px;
}

.grid__column_10 {
   width: calc((100%/12)*10);
   padding-left: 5px;
}




.text-bold {
   font-weight: 500 !important;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0);
   }

   to {
      opacity: 1;
      transform: scale(1);

   }
}

@keyframes growth {
   from {
      transform: scale(var(--growthFrom));
   }

   to {
      transform: scale(var(--growthTo));
   }
}

/* -------Modal --------------- */
.modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   display: none;
}

.modal__overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal__body {
   --growthFrom: 0.5;
   --growthTo: 1;
   width: 500px;
   margin: auto;
   background-color: var(--white-color);
   z-index: 11;
   border-radius: 5px;
   overflow: hidden;
   animation: growth ease-in 0.25s;
}


/* ---- BUTTON ---- */
.btn {
   min-width: 64px;
   height: 32px;
   line-height: 1.6rem;
   padding: 0 16px;
   cursor: pointer;
   border: unset;
   border-radius: 3px;
   font-size: 1.5rem;
   outline: none;
   color: var(--white-color);
   text-decoration: none;
   background-color: var(--primary-color);
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.btn--nomal {
   background-color: #fff;
   color: #333;
}

.btns .btn.btn--disable {
   color: #e4e4e4;
   cursor: default;
   background-color: #aeaeae;
}

/* Slect input */
.home_filter {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 200px;
   padding: 0 12px;
   height: 32px;
   background-color: #fff;
   border-radius: 3px;
}

.home_filter__title {
   font-size: 1.5rem;
   font-weight: 500;
}

.home_filter__icon {
   font-size: 1.6rem;
   color: rgba(0, 0, 0, 0.6);
}

/* Mũi tên trỏ lên */
.notification::after,
.header__nav-item-user_user-info::before {
   content: "";
   display: block;
   position: absolute;
   top: -29px;
   right: 4px;
   border-style: solid;
   border-width: 20px 30px;
   border-color: transparent transparent var(--white-color) transparent;
   z-index: -10;
}

.qr_info::after {
   content: "";
   display: block;
   position: absolute;
   border: 10px solid;
   border-color: transparent transparent #fff transparent;
   top: -20px;
   right: 50%;
   transform: translateX(50%);

}


.notification::after {
   content: "";
   display: block;
   position: absolute;
   top: -29px;
   right: 4px;
   border-style: solid;
   border-width: 20px 30px;
   border-color: transparent transparent var(--white-color) transparent;
}

.shopping_products::before {
   content: "";
   display: block;
   position: absolute;
   top: -31px;
   right: 5px;
   z-index: 16;
   border: 20px solid;
   border-color: transparent transparent #fff transparent;
}

/* ====== PAGINATION - DIEU HUONG TRANG ======== */
.home_product__pagination {}

.home_product__pagination-list {
   display: flex;
   list-style-type: none;
   justify-content: center;
}

.home_product__pagination-item {
   margin: 0px 8px;
}

.home_product__pagination-link {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   text-decoration: none;
   color: #696969;
   min-width: 40px;
   min-height: 32px;
   border-radius: 2px;
}

.home_product__pagination-link--active {
   background-color: var(--primary-color);
   color: var(--white-color);
}

.home_product__pagination-link--active:hover {
   background-color: #e55244;
}